body {
  top: 0;
  left: 0;
  background-color: #F0F8FF;
}

@font-face {
  font-family: 'Calibri';  
  src: url("../fonts/calibri/Calibri.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}

@font-face {
  font-family: 'Calibri light';  
  src: url("../fonts/calibri/Calibri.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: lighter;
}

@font-face {
  font-family: 'Calibri bold';  
  src: url("../fonts/calibri/CALIBRIB.TTF") format("truetype"); 
  font-style: normal; 
  font-weight: bolder;
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/oswald/Oswald-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Oswald light';
  src: url("../fonts/oswald/Oswald-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: lighter;
}