.secondLeft {
  width: 49%;
  display: block;
}

.secondLeft h2 {
  font-family: 'Oswald light';
  font-size: 1.6vw;
  color: #FFA500;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-left: 200px;
  letter-spacing: 1px;
}

.secondLeft span {
  color: rgba(0, 0, 0, .7);
}