.basketThanksBG,
.callWaitBG {
  background: rgba(0, 0, 0, .6);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9998;
  height: 750px;
  display: none;
  transition: linear .8s;
}

.basketThanks,
.callWait {
  background-image: url(../img/thanksBG.png);
  margin: 10% 25%;
  width: 50%;
  height: 55%;
  z-index: 9999;
}

.basketThanks:first-child,
.callWait:first-child {
  text-align: center;
}

.basketThanks img,
.callWait img {
  margin-bottom: 40px;
  margin-top: 50px;
}

.basketThanks h2,
.callWait h2 {
  font-family: 'Oswald';
  font-size: 1.6vw;
  color: rgba(0, 0, 0, .7);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.basketThanks span,
.callWait span {
  font-family: 'Calibri light';
  font-size: 1vw;
  color: rgba(0, 0, 0, .7);
  letter-spacing: 1px;
  text-align: center;
}

.btnReturn {
  background-color: rgba(210, 105, 30, .8);
  border-color: rgba(210, 105, 30, .8);
  border-radius: 20px;
  font-family: 'Calibri bold';
  font-size: .7vw;
  letter-spacing: 1px;
  color: #fff;
  padding: 10px 40px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(210, 105, 30, 0.5);
  transition: .3s;
  margin-top: 40px;
  outline: none;
  text-transform: uppercase;
}
